.App {
  font-weight: 300;
  font-size: 20px;
  background-color: yellow;
  height: 100%;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #ff00ff;
  z-index: 0;
}

.loading {
  width: 100px;
  height: 100px;
  border: 18px solid;
  border-color: yellow transparent;
  border-radius: 80%;
  animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.conatiner{
  display: flex;
  justify-content: center;
}

.wraper{
  display: flex;
  flex-direction: column;
  width: 100vh;
  margin: 40px;
  padding: 50px;
  background-color: #ff00ff;
  border-radius: 40px;
}

.main-heading{
  text-align: center;
  font-weight: 300;
  font-size: 30px;
  margin: 10px;
  font-weight: bold;
}

.search{
  width: 97%;
  padding: 5px 10px;
  border-radius: 50px;
  border-width: 1px;
  background-color: #f9f9f9;
  margin-top: 20px;
  margin-bottom: 10px;
  box-shadow: rgba(125, 125, 135, 0.25) 0px 6px 12px -2px,
    rgba(108, 104, 104, 0.3) 0px 3px 7px -3px;
}

.antd-card{
  background: #ff00ff; 
  width: 500px; 
  border-radius: 20px;
  
}

.error-page{
  background: #ff00ff;
  width: 500px;
  margin: auto;
}